<div class="mt-6"></div>
    <%= form_for(@sample, html: {multipart: true}) do |f| %>
    <% if @sample.errors.any? %>
        <div class="message is-danger">
            <div class="message-header">
                <p>
                    <%= pluralize(sample.errors.count, "error")%>  Prohibited this sample from being saved
                </p>
            </div>
            <div class="message-body">
            <ul>
                <% @sample.errors.full_messages.each do |message|%>
                    <li><%= message %></li>
                <%end%>
            </ul>
            </div>
        </div>
    <%end%>
    <div class="columns is-centered is-vcentered">   
        <div class="column is-4"> <!--First Half-->
            <%= f.text_field :name, class: "input mb-4", placeholder:"Name" %>

            <%= f.text_field :institution, class: "input mb-4", placeholder:"Instituition" %>

            <%= f.telephone_field :phone_num, class: "input mb-4", placeholder:"Phone Number" %>

            <%= f.text_field :supervisor_name, class: "input mb-4", placeholder: "Supervisor Name" %>

        </div>
        <!--Second Half-->
        <div class="column is-4">

            <%= f.email_field :email, class: "input mb-4", placeholder:"Email"  %>

            <%= f.text_field :Address, size:'20x5', class:"input mb-4",placeholder:"Address" %>

            <%= f.text_field :referrer, class: "input mb-4", placeholder:"Referrer" %>

            <%= f.text_field :supervisor_contact, class: "input mb-4",placeholder:"Supervisor Contact" %>
        </div>       
    </div><!--Column End-->
    <div class="columns is-centered">
      <div class="column is-8">
        <%= f.text_area :description, size:'30x6', class: "textarea is-medium", placeholder:"Description" %>
       </div>
    </div><!--Description Ends-->
    <div class="columns is-centered"><!--Other Form part-->
        <div class="column is-2">
            <%= f.label :perishable, 'Perishable', class:"checkbox"%>
            <%= f.check_box :perishable, class:"mt-5 mr-5"%>
        </div>
        <div class="column is-2">
            <%= f.label :result_due_date, 'Result Due Date'%>
            <%= f.date_field :result_due_date, class:"input" %>
        </div>
        <div class="column is-2">
        <%= f.label :retention_time, 'Retention time'%>
            <%= f.time_field :retention_time, value: Time.now, class:"input " %>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-4">
             <%= f.label :current_status, 'Current Status'%>
                <%= f.select (:current_status) do %>
                <% [['Undergraduate Student','Undergraduate Student'], 
                    ['Master Student', 'Master Student'], 
                    ['PhD Student', 'PhD Student'],
                    ['Lecturer','Lecturer'],
                    ['Scientist','Scientist'],
                    ['Others', 'Others']].each do |c| %>
                    <%= content_tag(:option, c.first, value: c.last) %>
                <% end %>
                <% end %>
        </div>
        <div class="column is-4">
            <%= f.label :required_service, 'Required Service'%>
            <%= f.select(:required_service,class:"input" ) do %>
                <% [['Contract Research Service', 'Contract Research Service'],
                    ['Lab for rent(LFR)','Lab for rent(LFR)'],
                    ['Data Analysis','Data Analysis'],
                    ['Others', 'Others']].each do |c| %>
                    <%= content_tag(:option, c.first, value: c.last) %> 
                <% end %>
                <% end %>
        </div>
    </div>

    <div class="columns is-centered is-vcentered">
        <div class="column is-8">
            <%=f.fields_for :prices do |prices_form|%>
                <%= display_price_form @departments, @lab_tests, prices_form %>
            <%end%>
        </div>
    </div>
  
            <%= f.submit class:"button is-link is-pulled-right mb-6" %>
        <%end%> <!--Form End-->


<%= javascript_pack_tag 'bulma-accordion', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'price-form', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'dom-ready', 'data-turbolinks-track': 'reload' %>
