<h1>New sample Form</h1>

<%= form_for(@sample) do |f| %>
    <p class="">
        <%= f.label :name, 'Name'%>
        <%= f.text_field :name %>
    </p>

    <p class="">
        <%= f.label :Address, 'Address'%>
        <%= f.text_area :Address , size: '20x5'%>
    </p>

    <p class="">
        <%= f.label :institution, 'Institution'%>
        <%= f.text_field :institution %>
    </p>

    <p class="">
        <%= f.label :phone_num, 'Phone Number'%>
        <%= f.telephone_field :phone_num %>
    </p>

    <p class="">
        <%= f.label :email, 'Email'%>
        <%= f.email_field :email %>
    </p>

    <p class="">
        <%= f.label :supervisor_name, 'Supervisor Name'%>
        <%= f.text_field :supervisor_name %>
    </p>

    <p class="">
        <%= f.label :supervisor_contact, 'Supervisor Contact'%>
        <%= f.text_field :supervisor_contact %>
    </p>

    <p class="">
        <%= f.label :referrer, 'Referrer'%>
        <%= f.text_field :referrer %>
    </p>

    <%# Other Form Parts %>
    <%= f.label :current_status, 'Current Status'%>
    <%= select_tag(:current_status, raw('<option value="Undergraduate Student">Undergraduate Student</option>
                                        <option value="Master Student">Master Student</option>
                                        <option value="PhD Student">PhD Student</option>
                                        <option value="Lecturer">Lecturer</option>
                                        <option value="Scientist">Scientist</option>
                                        <option value="Others">Others</option>')) %>

    <%= f.label :required_service, 'Required Service'%>
    <%= select_tag(:required_service, raw('<option value="Lab for rent">Lab for rent(LFR)</option>
                                        <option value="Contract Research Service">Contract Research Service(CRS)</option>
                                        <option value="Data Analysis">Data Analysis</option>')) %>

    <p class="">
        <%= f.label :description, 'Description'%>
        <%= f.text_area :description, size: '30x5' %>
    </p>

    <p class="">
        <%= f.label :perishable, 'Perishable'%>
        <%= f.check_box :perishable %>
    </p>

    <p class="">
        <%= f.label :retention_time, 'Sample Retention Time'%>
        <%= f.time_field :retention_time %>
    </p>
    
    <p class="">
        <%= f.label :result_due_date, 'Result Due Date'%>
        <%= f.date_field :result_due_date %>
    </p>

    <p> <%= f.submit 'Submit'%> </p>
<%end%>