<% content_for :title do %>
	Created on &ndash; <%=@sample.created_at.to_s(:nice_date)%> 
<%end%>
<div class="columns is-centered mt-4 mb-4 is-vcentered">
	<div class="column is-half">
		<nav class="panel is-link">
			<p class="panel-heading has-text-centered"><%= @sample.name %><p>
			<p class="panel-block"><span class="label mr-4">Email</span> <%= @sample.email %></p>
			<p class="panel-block"><span class="label mr-4">Institution</span><%= @sample.institution %></p>
			<p class="panel-block"><span class="label mr-4">Phone Number</span><%= @sample.phone_num %></p>
			<p class="panel-block"><span class="label mr-4">Description</span><%= @sample.description %></p>
			<p class="panel-block"><span class="label mr-4">Supervisor name</span> <%= @sample.supervisor_name %></p>
			<p class="panel-block"><span class="label mr-4">Supervisor contact</span><%= @sample.supervisor_contact %></p>
			<p class="panel-block"><span class="label mr-4">Referrer</span><%= @sample.referrer %></p>
			<p class="panel-block"><span class="label mr-4">Required service</span><%= @sample.required_service %></p>
			<p class="panel-block"><span class="label mr-4">Perishable</span><%= @sample.perishable %></p>
			<p class="panel-block"><span class="label mr-4">Result due date</span><%= @sample.result_due_date %></p>
			<p class="panel-block"><span class="label mr-4">Retention time</span><%= @sample.retention_time %></p>
		</nav>
	</div>
	<div class="column is-2 mx-4">
		<%= link_to 'Read all results', sample_results_path(@sample), class: 'button is-link is-outlined is-fullwidth my-4 is-small'%>
		<%= display_create_result_button @sample %>	
		<%= display_sample_control_buttons @sample %>	
  </div>
</div>
