<section class="section">
   <h1 class="title is-1"> Food </h1>
    <div class="columns">
        <div class="column is-4">
        <!--Protein -->
                <h2 class="title is-5">Protein(%):</h2>
            <%= form_for [@sample, @result] do |f|  %>
            
              <p>
               <%= f.label :proteinrich , "Protein Rich?(Ef)" %> 
               <%= f.check_box :proteinrich, class:"ml-2" %> </p><br/>
              <p><%= f.text_field :Tv, placeholder: "Titre Value", class: "input" %></p><br/>
              <p><%= f.text_field :Ws, placeholder: "Weight of Crucible", class: "input" %></p><br/>
        </div>

<!--Moisture -->
        <div class="column is-4">
            <h2 class="title is-5"> Moisture(%): </h2>
              <p><%= f.text_field :Wsc , placeholder: "Weight of sample and Crucible", class: "input" %> </p><br/>
              <p><%= f.text_field :Wca, placeholder: "Weight of crucible after drying", class: "input" %></p><br/>
              <p><%= f.text_field :Ws, placeholder: "Weight of sample", class: "input" %></p><br/>
        </div>

    </div>
</section>
<!--Water Lab-->
<section class="section">
   <h1 class="title is-1"> Water Lab </h1>
    <div class="columns">
        <div class="column is-4">
        <!--Turbidity -->
                <h2 class="title is-5">Turbidty(NTU):</h2>
              <p>
               <%= f.text_field :Abs, placeholder: "Absorbant", class: "input" %> </p><br/>
              <p><%= f.text_field :T, placeholder: "Trans", class: "input" %></p><br/>
           

        </div>
</section>

<!--Chemistry-->
<section class="section">
   <h1 class="title is-1"> Chemistry: </h1>
    <div class="columns">
        <div class="column is-4">
        <!--Turbidity -->
                <h2 class="title is-5">BOD(mg/l):</h2>

              <p>
               <%= f.text_field :DO5, placeholder: "DO5", class: "input" %> </p><br/>
              <p><%= f.text_field :DO1, placeholder: "DO1", class: "input" %></p><br/>

        </div>
</section>

<!--Chemistry-->
<section class="section">
   <h1 class="title is-1"> BioChemistry: </h1>
    <div class="columns">
        <div class="column is-4">
        <!--Turbidity -->
                <h2 class="title is-5">Creatinine(mg/ml):</h2>
              <p>
               <%= f.text_field :DABSsample, placeholder: "Change in Absorbant Sample", class: "input" %> </p><br/>
              <p><%= f.text_field :DABSstd, placeholder: "Change in Absorbant Standard", class: "input" %></p><br/>
     

        </div>
    </div>
</section>

<!-- Fats & Oil -->
    <section>
        <h1 class="title is-1"> Fats & Oil: </h1>
        <div class="columns is-multiline is-centered">
            <div class="column is-4">
                <!-- Saponification -->
                <h2 class="title is-5">Saponification(mg/ml):</h2>
                <p>
                    <%= f.text_field :Bsap, placeholder: "Blank Volume(ml)", class: "input" %> 
                </p><br/>
              <p>
                <%= f.text_field :Ssap, placeholder: "Sample Volume(ml)", class: "input" %>
              </p><br/>
              <p>
               <%= f.text_field :Nsap, placeholder: "Normality", class: "input" %> </p><br/>
              <p><%= f.text_field :Wsap, placeholder: "Weight of Sample(gm)", class: "input" %></p><br/>
            </div>

            <div class="column is-4">
                <!-- Acid Value -->
                <h2 class="title is-5">Acid Value(mg/ml):</h2>
                <p>
                    <%= f.text_field :Va, placeholder: "Volume of Base (KOH/NaOH)", class: "input" %> 
                </p><br/>
              <p>
                <%= f.text_field :Na, placeholder: "Normalityof Base (KOH/NaOH)", class: "input" %>
              </p><br/>
              <p>
               <%= f.text_field :Wa, placeholder: "Weight Of Sample(g)", class: "input" %> </p>
            </div>
            <div class="column is-4">
                <!-- Iodine Value -->
              <h2 class="title is-5">Iodine Value(mg/ml):</h2>
              <p>
                <%= f.text_field :bi, placeholder: "Volume of Blank(ml)", class: "input" %> 
              </p><br/>
              <p>
                <%= f.text_field :Si, placeholder: "Volume(ml) required for Sample", class: "input" %>
              </p><br/>
              <p>
                <%= f.text_field :Wi, placeholder: "Weight(g) of sample", class: "input" %>
              </p><br/>
              <p>
               <%= f.text_field :Ni, placeholder: "Normality", class: "input" %>
              </p>
            </div>
            <div class="column is-4">
                <!-- Polenske Value -->
              <h2 class="title is-5">Polenske Value:</h2>
              <p>
                <%= f.text_field :Vp, placeholder: "Volume(ml)", class: "input" %> 
              </p><br/>
              <p>
                <%= f.text_field :Np, placeholder: "Normality", class: "input" %>
              </p><br/>
            </div>
        </div>
    </section>
<section class="section">
    <div class="columns is-centered"> 
        <div class="column is-4">  
                <%= f.submit "Save", class: "button is-link is-medium is-fullwidth"%>
        </div>
    </div>
</section>
    <%end%>