<%= form_with(model: lab_test, local: true) do |form| %>
  <% if lab_test.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(lab_test.errors.count, "error") %> prohibited this lab_test from being saved:</p>
      </div>
    </div>

    <div class="message is-danger">
      <div class="message-body">
        <ul>
          <% lab_test.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="columns is-centered is-vcentered">
    <div class="column is-4">
    
        <%= form.text_field :title, class: "input mb-4", placeholder:"Title"%>
      
        <%= form.number_field :quantity, value: 1, class: "input mb-4", placeholder:"Quantity. eg: 7" %>
      
    </div>
    <div class="column is-4">
      <%= form.number_field :price_per_unit, class: "input mb-4", placeholder:"Price per 1 unit. eq: 1500" %>
    
      <%= form.select :department_for_test_id, options_for_select(@department_for_test_for_select), class: "input mb-4" %>
    </div>
  </div>
  <div class="columns is-centered is-vcentered">
    <div class="column is-8">
      <%= form.text_area :description, size:'30x4', class: "textarea is-medium", placeholder:"description" %>
    </div>
  </div>
  <div class="columns is-centered is-vcentered">
    <div class="column is-8">
      <%= form.submit class:"button is-link is-pulled-right mb-6" %>
    </div>
  </div>
<% end %>
