<p id="notice"><%= notice %></p>

<h1>Lab Tests</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price per unit</th>
      <th>User</th>
      <th>Department for test</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lab_tests.each do |lab_test| %>
      <tr>
        <td><%= lab_test.title %></td>
        <td><%= lab_test.description %></td>
        <td><%= lab_test.price_per_unit %></td>
        <td><%= lab_test.user_id %></td>
        <td><%= lab_test.department_for_test_id %></td>
        <td><%= link_to 'Show', lab_test %></td>
        <td><%= link_to 'Edit', edit_lab_test_path(lab_test) %></td>
        <td><%= link_to 'Destroy', lab_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lab Test', new_lab_test_path %>
