<%= form_with(model: price, url: new_sample_price_path,local: true) do |form| %>
  <% if price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
        <% price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
    <div class="columns is-centered is-vcentered">
        <div class="column is-8">
          <%= display_price_form @departments, @lab_tests, form %>
        </div>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
