
<div class="columns mt-6 is-centered">
    <div class="column is-4 has-text-centered">
        <%= link_to 'Details', sample_price_path(@sample_id, @price), class: 'button is-primary is-outlined is-small' %>
        <%= link_to 'Back to prices list', sample_prices_path, class: 'button is-link is-outlined is-small' %>
    </div>
</div>

<%= form_with(model: @price, url: sample_price_path, local: true) do |form| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
        <% price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
    <div class="columns is-centered is-vcentered">
        <div class="column is-8">
          <%= display_price_form @departments, @lab_tests, form, @price.lab_tests %>
        </div>
    </div>

  <div class="actions">
    <%= form.submit class:"button is-link is-pulled-right mb-6" %>
  </div>
<% end %>
