<p id="notice"><%= notice %></p>

<h1>All prices of <%= link_to @sample.name, sample_path(@sample) %></h1>

  <tbody>
    <% @sample_prices.each do |price| %>
      <tr>
        <td>Price with ID <%= price.id %></td>
        <td><%= link_to 'Show', sample_price_path(@sample, price) %></td>
        <td><%= link_to 'Edit', edit_sample_price_path(@sample, price) %></td>
        <td><%= link_to 'Destroy', sample_price_path(@sample, price), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price', new_sample_price_path %>
