<div class="columns mt-6 is-centered">
  <div class="column is-half">
    <div class="panel is-link">
      <div class="panel-heading has-text-centered">
        <h1>All prices of <%= link_to @sample.name, sample_path(@sample), class: 'has-text-warning' %></h1>
      </div>
      <% @sample_prices.each do |price| %>
        <div class="panel-block">
          <span class="mx-2"><strong>Price with ID #<%= link_to price.id, sample_price_path(@sample, price) %></strong></span>
          <span class="mx-2 button is-primary is-small is-outlined"><%= link_to 'Edit this price', edit_sample_price_path(@sample, price) %></span>
          <span class="mx-2 button is-danger is-small is-outlined"><%= link_to 'Delete this price', sample_price_path(@sample, price), method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
      <% end %>
      <div class="panel-block">
        <span class="button is-link is-outlined is-fullwidth is-dark">
          <%= link_to 'Add new price', new_sample_price_path %>
        </span>
      </div>
    </div>
  </div>
</div>
