<p id="notice"><%= notice %></p>

<p>
  <strong>Float:</strong>
  <%= @price.float %>
</p>

<p>
  <strong>Sample:</strong>
  <%= @price.sample_id %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
