<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @price.sample.name %>
</p>

<p>
  <strong>Lab tests:</strong>
  <%= display_sample_prices_for_lab_tests @price%>
</p>

<%= link_to 'Edit', edit_sample_price_path(@price) %> |
<%= link_to 'Back', sample_prices_path %>
