<!DOCTYPE html>
<html>
  <head>
    <title>CRDL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'header'%>
      <% if flash[:notice]%>
        <p class="notification is-primary has-text-white"><%= notice %></p>
      <% end %>

  <% if flash[:alert]%>
      <p class="notification is-danger has-text-white"><%= alert %></p>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
